<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        fileName="Logs\PaymentReversal.log" formatter="Text Formatter"
        rollFileExistsBehavior="Increment" rollInterval="Day" rollSizeKB="400"
        maxArchivedFiles="40" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        template="Win32 ThreadId:{win32ThreadId} : Message: {message}{newline}"
        name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <connectionStrings>
    <!--<add name="MsTicket" connectionString="Data Source=biztrack.co.in;Initial Catalog=MSTicketDB_Live_Latest;User ID=sa;Password=kranti123@123" />-->
    <add name="MsTicket" connectionString="Data Source=.;Initial Catalog=MsticketDB_Live;User ID=ticketAdmin;Password=a2FS6CPm" />
  </connectionStrings>
  <appSettings>
    <!--<add key="TimeInterval" value="6000" />-->
    <add key="TimeInterval" value="86400000" />
    <add key="EmailReport" value="kodaccounts@krantitechservices.com"/>
    <add key="EmailReport_Detailed" value="kodlogs@krantitechservices.com" />
    <!--<add key="EmailReport" value="gaurav@krantitechservices.com"/>-->
    <!--<add key="EmailReport" value="bharatgarg.imsec@gmail.com"/>
    <add key="EmailReport_Detailed" value="bharatgarg.imsec@gmail.com" />-->
    <add key="Emailfrom" value="noreplykod@gmail.com" />
    <add key="DetailedReportPath" value="C:\Payment Reversal Report" />
    <add key="DetailedReportPath_Detailed" value="C:\Detailed Payment Reversal Report" />
  </appSettings>
</configuration>