<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="KoDTicketingLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="KoDTicketingLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionStringMSTicket" connectionString="Server={0};Database=MsticketDB_Live;User ID=ticketAdmin;Password=a2FS6CPm" />
    <add name="ConnectionStringWebCRM" connectionString="server=182.71.214.114,1348;database=webcrm;uid=sancrm;pwd=K0d@2012;" />
    <add name="ConnectionStringWebBooking" connectionString="server=122.180.79.187;database=BOXOTEST;uid=WEBBOOKING;pwd=K1ng@123; Min Pool Size=0; Max Pool Size=100; Connect Timeout=600;Pooling=false;Connection Reset=true;" />
  </connectionStrings>
  <applicationSettings>
    <KoDTicketingLibrary.Properties.Settings>
      <setting name="MailSenderAccount" serializeAs="String">
        <value>noreplyKOD@gmail.com</value>
      </setting>
      <setting name="MailSenderAccountName" serializeAs="String">
        <value>Kingdom OfDreams</value>
      </setting>
      <setting name="MailEmailAccountSMTPServer" serializeAs="String">
        <value>smtp.gmail.com</value>
      </setting>
      <setting name="MailEmailAccountPassword" serializeAs="String">
        <value>k1ngd0m2012</value>
      </setting>
      <setting name="MailEmailAccountSMTPServerPort" serializeAs="String">
        <value>587</value>
      </setting>
      <setting name="SMSServiceURI" serializeAs="String">
        <value>http://perfectbulksms.com/Sendsmsapi.aspx</value>
      </setting>
    </KoDTicketingLibrary.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <KoDTicketingLibrary.Properties.Settings>
      <setting name="SMSApiUsername" serializeAs="String">
        <value>gcell</value>
      </setting>
      <setting name="SMSApiPassword" serializeAs="String">
        <value>cell321</value>
      </setting>
    </KoDTicketingLibrary.Properties.Settings>
  </userSettings>
</configuration>